.banner {
  background-color: #f9fafc;
  width: 45vh;
  margin-top: 2rem;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.message {
  color: #333;
  font-size: 0.8rem;
  margin: 0;
  padding: 0 1rem;
}

.button {
  background-color: #d23e64;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #c43157;
}
