.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  height: auto;
}

.info_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d23e64;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.info_icon::after {
  content: "\2713";
  font-weight: 900;
  color: white;
}

.wrapper {
  background-color: #f9fafc;
  padding: 1rem;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
