.carousel {
  display: flex;
  gap: 20px;
  max-width: 350px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  padding: 1rem;
  margin: 1rem auto 0;
  border-radius: 5px;
}
