/* Jumbotron for home page with red-ish color background*/

/* .jumbotron {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.jumbotron_content {
  position: absolute;
  width: 90%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
}

.jumbotron p {
  font-size: 2rem;
  line-height: 1.5;
} */

.hero_section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  gap: 10px;
}

.hero_section p {
  font-size: 24px;
  font-weight: 700;
}
