.section {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #f25c54;
  font-weight: 700;
}

.headline {
  text-align: center;
  margin-top: 10px;
}
