/* section tag is for span tags that including title and description */
.section_heading {
  width: 100%;
  margin-top: 2rem;
}
.section_heading span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f25c54;
  margin-bottom: 0.4rem;
}
.section_heading p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
