/* review.module.css */

@import url("/globals.css");

/* Containers */
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 230px;
  height: auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  box-shadow: rgba(var(--foreground-rgb), 0.16) 0px 1px 4px;
  padding: var(--spacing-4); /* 1rem */
  border-radius: 5px;
}

/* Avatar Styles */
.avatar {
  position: relative;
  width: var(--size-sm);
  height: var(--size-sm);
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%; /* Consider removing if targeting modern browsers */
}

.avatarInner {
  position: absolute;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

/* Typography */
.name {
  font-size: var(--font-size-md); /* 1rem */
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-2); /* 0.5rem */
}

.review {
  font-size: var(--font-size-sm); /* 0.875rem */
  text-align: center;
  margin-top: var(--spacing-4); /* 1rem */
}
