.MobileOptimized {
  display: flex; /* Change from block to flex */
  flex-direction: column; /* Stack children vertically */
  gap: 2rem; /* Adjust the space between children */
  position: relative;
}

@media (min-width: 769px) {
  .MobileOptimized {
    position: absolute;
    width: 30rem;
    right: 30rem;
  }
}
