.MobileOptimized {
  display: flex; /* Change from block to flex */
  flex-direction: column; /* Stack children vertically */
  position: relative;
  gap: 2rem;
  padding: 0 1rem;
}

@media (min-width: 769px) {
  .MobileOptimized {
    position: absolute;
    width: 30rem;
    right: 30rem;
  }
}
