/* components/FAQAccordion.module.css */

.accordion {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.icon {
  font-weight: bold;
}

.answer {
  padding: 1rem;
  font-size: 1rem;
}
