/* Abstract shape component */
.abstract_shape_container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.abstract_shape {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.orange_bubble {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  z-index: 1;
}

.red_bubble {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  z-index: -1;
  transform: translate(-5%, -5%); /* slight offset from center */
}

.yellow_bubble {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50%;
  z-index: -2;
  transform: translate(5%, 5%); /* slight offset from center */
}
