/* CardLayout.module.css */
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: ghostwhite;
  padding: 2rem 1rem;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  min-height: 300px; /* set a minimum height */
  max-height: 700px; /* set a maximum height */
}

.container.default {
  height: auto;
}

.container.small {
  height: 300px;
}

@media (max-width: 768px) {
  .container {
    height: 700px;
  }
}
