.wrapper {
    position: relative;
    width: 100%;
    height: 40vh;
    border-radius: 12px;
    overflow: hidden;
  }
  
  /* mobile size */
  @media (max-width: 768px) {
    .wrapper {
      height: 30vh;
    }
  }
  