.items {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 230px;
  height: auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
  border-radius: 10px;
}

.wrapper {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: antiquewhite;
}
