/* TODO eslint problem */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


/* globals.css or similar */
.markdown-content h2 {
  @apply text-2xl font-semibold;
}

.markdown-content h3 {
  @apply text-green-500 text-xl font-medium;
}

.markdown-content p {
  @apply text-gray-700 text-lg;
}
