.course {
  max-width: var(--max-width);
  margin: var(--spacing-6) auto;
  padding: var(--spacing-4);
  background-color: rgb(var(--background-end-rgb));
  line-height: var(--lineHeight-normal);
}

.course h1 {
  /* background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
}

.course h2 {
  font-size: var(--fontSize-5);
  margin-bottom: var(--spacing-4);
}

.course h3 {
  font-size: var(--fontSize-4);
  margin-bottom: var(--spacing-4);
}

.course h4 {
  font-size: var(--fontSize-3);
  margin-bottom: var(--spacing-4);
}

.course p,
.course ul,
.course ol {
  list-style: none;
}

.course a {
  color: inherit;
  text-decoration: none;
}

.course a:hover,
.course a:focus {
  text-decoration: underline;
}

.course img {
  max-width: 100%;
  height: auto;
}

.course code {
  background-color: var(--tile-end-rgb);
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--border-radius);
  font-family: var(--font-mono);
}

.course blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: var(--spacing-4) var(--spacing-8);
  color: rgb(var(--foreground-rgb));
  border-left: var(--spacing-1) solid rgb(var(--tile-border-rgb));
  background-color: rgb(var(--tile-end-rgb));
}
